
body{
    background-color: yellow;
}
#qwe{
    background-image: url(./img/logo.png);
    height: 200px;
    width: 200px;
}
#asd{
    background-image: url(./img/5.jpg);
    height: 200px;
    width: 200px;
}
